:root {
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);  
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;

}

body {
    background-color: var(--very-dark-blue);
}

.container,
.thank-you-container {
    background-color: var(--dark-blue);
    border-radius: 1rem;
    max-width: 500px;
    margin-top: 50px;
}

.star-sign {
    padding: 1rem;
    margin: 1rem ;
}

.title {
    color: var(--white);
    margin-left: 1.5rem;
    font-size: 12px;
    font-weight: 700;
}

.text {
    color: var(--light-grey);
    opacity: 0.9;
    margin: 1.5rem;
    font-size: 0.90rem;
}

.numbers {
    display: flex;
    justify-content: center;

}

.numbers p {
    background-color: var(--light-grey);
    margin: 0.50rem;
    padding: 0.75rem;
    border-radius: 25%;
}

.numbers p:hover{
    background-color: var(--orange);
    cursor: pointer;
}

.button-container {
   border: 1px solid var(--dark-blue);
   border-radius: 1.75rem;
}

#submit-button {
    background-color: var(--orange);
    padding: 0.75rem ;
    margin: 2rem;
    border-radius: 1.75rem;
    color: var(--white);
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
}

.thank-you-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thank-you-img {
    margin-top: 1.5rem;
}

.thank-you-rating {
    
    color: hwb(25 7% 2%);
    text-align: center;

}
.thank-you-header,
.thank-you-text {
color: white;
padding: 0.50rem;
text-align: center;
}

.thank-you-header {
    font-size: 1.5rem;
}

.thank-you-text {
   opacity: 0.5;
   font-size: 14px;
   line-height: 20px;
   padding-bottom: 2rem;
}



p.active {
    background-color: var(--orange);
}

footer {
    font-size: 12px;
    text-align: center;
    margin-top: 3rem;
    color: var(--light-grey);
}


@media (min-width: 768px) {
    .container {
        width: 50%;
        margin: 0 auto;
    }
    .title,
    .text {
        text-align: center;
    }
    #submit-button {
        width: 30%;
        margin: 1rem auto;
    }

    .footer {
        margin: 5rem;
    }
}

@media (min-width: 300px) {
    .container {
        width: 90%;
        margin: 0 auto;
        
    }
    .title,
    .text {
       text-align: center;
    }
    #submit-button {
        width: 30%;
        margin: 1rem auto;
    }
}
